:root {
    --input-margin-left: 8px;
    --input-margin-bottom: 8px;
    --color-error: #ff0000;
    --font-size-small: 0.8rem;
    --font-size: 1em;
}

.input-container {
    margin-bottom: var(--input-margin-bottom);
}

.input-error-message {
    display: block;
    color: var(--color-error);
    font-size: var(--font-size-small);
    /* margin-left: var(--input-margin-left); */
    margin-bottom: var(--input-margin-bottom);
}

.input-field {
    height: 19px;
    border: none;
    width: 100%;
    font-size: var(--font-size);
    background: none;
    font-family: 'Roboto', sans-serif;
    color: #333;
    outline: none;
}

.input-label {
    display: inline-block;
    cursor: pointer;
    color: #282828;
    margin: 0;
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;
}

.input-placeholder-label {
    opacity: 0.6;
    font-weight: 500;
}

.input-edit-icon {
    color: #b6b6b6;
    font-size: 0.8em;
    margin-left: 4px;
}