:root {
    /* color variables */
    --openlinks-btn-text-color: #2f2f2f;
    --openlinks-btn-bg-color: #ffd0d9;
    --openlinks-btn-hover-bg-color: #ffb0b9;
    /* text font variables */
    --openlinks-btn-font-size: 1rem;
    --openlinks-btn-font-weight: 500;
    --openlinks-btn-font-family: 'Times New Roman', Times, serif; /* arbitrary */
}

.openlinks-mock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 16px 8px;
    border-radius: 5px;
}

.openlinks-mock-container > h1 {
    font-size: x-large;
    font-weight: bold;
}

.openlinks-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 16px;
    min-height: 50px;
    text-decoration: none;
    background-color: var(--openlinks-btn-bg-color);
    color: var(--openlinks-btn-text-color);
    font-family: var(--openlinks-btn-font-family);
    font-size: var(--openlinks-btn-font-size);
    font-weight: 500;
    width: 250px;
    border-radius: 5px;
}

.openlinks-button:hover {
    cursor: pointer;
    background-color: var(--openlinks-btn-hover-bg-color);
}