.links-container {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-bottom: 8px;
}

.link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link-text {
    display: flex;
    font-size: 1.2rem;
    margin-left: 8px;
    color: white;
    text-decoration: none;
}