.export-btn {
    width: 250px;
    height: 40px;
    margin-left: var(--margin-left);
}

.export-container {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.export-heading {
    margin-left: var(--margin-left);
    font-family: sans-serif;
}