.add-link-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 16px;
    margin-left: 8px;
    margin-bottom: 16px;
}

.add-link-button {
    width: 120px;
    height: 36px;
}

.delete-link-button {
    width: 30px;
    height: 30px;
    margin-left: 8px;
    margin-bottom: 8px;
}

.submit-link-button {
    min-width: 80px;
    height: 36px;
    margin-left: 8px;
    margin-bottom: 8px;
}

.fields-container {
    background-color: white;
    border-radius: 24px;
    box-shadow: rgb(224 226 217) 0px -1px 0px inset;
    margin: var(--margin-vertical) 0;
    padding: 16px;
    width: 400px;
}

.fields-footer {
    display: flex;
    justify-content: flex-end;
}
