.app-header-container {
    margin: 0 var(--margin-horizontal);
}

.nav-container {
    display: flex;
    margin-top: var(--margin-top);
}

.nav-list-left {
    align-self: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
}

.nav-list-right {
    display: flex;
    align-items: center;
    margin: 0 var(--margin-horizontal);
}

.nav-link {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 0 var(--margin-horizontal);
    color: #74767e;
    font-family: macan, helvetica neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
}

/* .nav-link:not(.active-nav) {} */

li.nav-item {
    position: relative;
}

.nav-link:hover:not(.active-nav > a) {
    color: var(--text-secondary-color);
}

.active-nav > a {
    color: var(--accent-primary);
}

.active-nav::after {
    content: "";
    display: block;
    z-index: 0;
    height: 2px;
    width: 100%;
    background-color: var(--accent-primary);
    position: absolute;
    bottom: -10px;
}

.nav-auth-button {
    width: 100px;
    height: 30px;
}

.nav-separator {
    width: 99%;
    background-color: #919191;
    height: 1px;
    position: absolute;
    left: var(--margin-horizontal);
    top: 47px;
    z-index: -1;
}
