.routes-container {
    width: 100%;
    height: 96%;
}

.app-container {
    /* margin: 0 var(--margin-horizontal); */
    height: 100%;
}

.app-footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: var(--margin-bottom);
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .app-footer {
        bottom: 0;
    }
}
