/* Global style variables */
:root {
    /* Button */
    --btn-bg-color: #bc79ff;
    --btn-bg-secondary-color: #969696;
    --btn-bg-hover-color: #aa55ff;
    --btn-bg-secondary-hover-color: #757575;
    --btn-bg-active-color: #8e1dff;
    --btn-bg-secondary-active-color: #5c5c5c;
    --btn-fg-color: white;

    /* Layout */
    --margin-top: 8px;
    --margin-left: 8px;
    --margin-right: 8px;
    --margin-bottom: 8px;
    --margin-horizontal: 8px;
    --margin-vertical: 8px;
    --app-fg-color: white;
    --app-bg-color: #f5f5f5;

    /* Text */
    --text-primary-color: #232323;
    --text-secondary-color: #5b5b5b;

    /* Accents */
    --accent-primary: #bc79ff;
}

.btn-primary {
    background-color: var(--btn-bg-color);
    color: var(--btn-fg-color);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: small;
}

.btn-primary:disabled,
.btn-primary[disabled],
.btn-secondary:disabled,
.btn-secondary[disabled],
.icon-btn:disabled,
.icon-btn[disabled]
 {
    opacity: 0.5;
    pointer-events: none;
    cursor: none;
}

.btn-primary:hover {
    background-color: var(--btn-bg-hover-color);
}

.btn-primary:active {
    background-color: var(--btn-bg-active-color);
}

.btn-secondary {
    background-color: var(--btn-bg-secondary-color);
    color: var(--btn-fg-color);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: var(--btn-bg-secondary-hover-color);
}

.btn-secondary:active {
    background-color: var(--btn-bg-secondary-active-color);
}

.icon-btn {
    background-color: transparent;
    color: var(--text-secondary-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: small;
}

.icon-btn:hover {
    background-color: #e5e5e5;
}

.icon-btn:active {
    background-color: #cacaca;
}