html, body, #root {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  background-color: var(--app-bg-color);
  /* background-color: rgb(67, 67, 67); */
}

h1,
h2,
h3,
h6 {
  color: var(--text-primary-color);
}

ul.unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-image: linear-gradient(to bottom right, #5956ff, #4c00a8); */
}
